body {
  background-color: grey;
}
  .head {
    width: 250px;
    height: 60px;
    background-color: blue;
  }
  .head h1 {
    padding-top: 10px;
  }
  .para {
    width: 425px;
    height: 300px;
    text-align: justify;
    color: purple;
    background-color: green;
}
  .para p {
    padding-top: 28px;
  }
  #gem1{
    width: 100px;
    height: 100px;
  }
  #gem2 {
    width: 100px;
    height: 100px;
  }
  #gem3 {
    width: 100px;
    height: 100px;
  }
  #gem4 {
    width: 100px;
    height: 100px;
  }
